.idea

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

config
!config/

config.dev.json
config.prod.json
!cmd/config/testdata/config.dev.json

_excluded

# README example generates config helper here:
pkg/example
